:root {
  --header-background: rgba(128, 128, 128, 1);

  --bg-color: rgba(220, 220, 220, 1);
  --bg-color-light: rgba(255, 255, 255, 1);
  --input-focus-outline-color: rgba(238, 238, 238, 1);

  --font_dark_color: rgba(169, 169, 169, 1);
  --font_black_color: rgba(0, 0, 0, 1);
  --font_white_color: rgba(237, 237, 237, 1);

  --btn-prime-color: rgba(128, 128, 128, 1);
  --btn-prime-hover-color: rgba(110, 110, 110, 1);
  --btn-prime-font-color: rgba(237, 237, 237, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--card-border-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--card-border-color);
}

main {
    flex-grow: 1;
    padding: 48px;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 24px 48px 0 48px;
    height: 96px;
    width: 100%;  
    background-color: var(--header-background);
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1824px;
}

.d_flex_fd_r_ai_c {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;

}

.d_flex_jc_sb {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 72px;
}

h1,
h5 {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--font_white_color);
}

h2 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--font_dark_color);
}

h3 {
    color: var(--font_dark_color);
}

h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 8px;
}

h5 {
    color: var(--font_black_color);
    text-align: center;
}

span {
    margin-left: 8px;
    font-weight: 100;
    color: var(--font_white_color);
}

.gap-16 {
    gap: 16px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.search_container {
    display: none;
    width: 100%;
    background-color: var(--header-background);
    padding: 24px 48px 48px 48px;
    top: 96px;
    position: sticky;
    z-index: 10;
}

.d_none {
    display: none;
}

.d_fd_c_ai_c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d_f_jc_end {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    width: 100%;
}

input, 
textarea {
    margin-top: 12px;
    height: 48px;
    width: 100%;
    max-width: 520px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 16px;
    border-radius: 10px;
    max-width: 520px;
    border: 2px solid var(--header-background);
}

textarea:focus,
input:focus {
  border-color: var(--header-background);
  outline: 1px solid var(--btn-prime-hover-color);
}

textarea {
    height: auto;
    min-height: 200px;
    resize: vertical;
    max-width: 100%;
}

button {
    border: none;
    background-color: var(--btn-prime-color);
    color: var(--btn-prime-font-color);
    border-radius: 8px;
    padding: 12px 18px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    z-index: 10

}

.btn_add {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

button:hover {
    background-color: var(--btn-prime-hover-color);
}

.add-button .icon {
    width: 16px;
    height: 16px;
}

.add,
article,
.impressum,
.agb {
    background-color: var(--bg-color-light);
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    padding: 20px;
    max-width: 720px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.add {
    padding: 48px;
}

article {
    margin-bottom: 24px;
}

.add,
.agb,
.impressum {
    width: 100%;
    max-width: 720px;
    height: calc(100dvh - 192px);
}

.add {
    height: auto;
}

@media screen and (max-width: 720px) {
    h2 {
        display: none;
    }

    .search_container {
        padding: 0 48px 48px 48px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    img {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header {
        height: 80px;
    }

    .search_container {
        padding: 0 24px 48px 24px;
        top: 80px;
    }

    main {
        padding: 24px;  
    }

    .add,
    .agb,
    .impressum {
        height: calc(100dvh - 128px);
    }
}

.add_author {
    max-width: 100%;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 18px;
    }
    input {
            font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    input {
        font-size: 16px;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 30px;
    }
}